body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #141e30, #243b55);
    color: white;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
  .container {
    text-align: center;
  }
  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
  }
  